@model Tic_Tac_Toe.Models.Game


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<p>score player O - @Model.ScorePlayerO</p>
<p>score player X - @Model.ScorePlayerX</p>

<table>
    <tr>
        <td style="background:white; width:100px; height:100px; text-align:center; border-bottom:double; border-right:double;"><a asp-action="Button1Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[0].ButtonValue</p></div></a></td>
        <td style="background:white; width:100px; height:100px; text-align:center; border-bottom:double; border-right:double;"><a asp-action="Button2Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[1].ButtonValue</p></div></a></td>
        <td style="background:white; width:100px; height:100px; text-align:center; border-bottom:double;;"><a asp-action="Button3Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[2].ButtonValue</p></div></a></td>
    </tr>
    <tr>
        <td style="background:white; width:100px; height:100px; text-align:center; border-bottom:double; border-right:double;"><a asp-action="Button4Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[3].ButtonValue</p></div></a></td>
        <td style="background:white; width:100px; height:100px; text-align:center; border-bottom:double; border-right:double;"><a asp-action="Button5Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[4].ButtonValue</p></div></a></td>
        <td style="background:white; width:100px; height:100px; text-align:center; border-bottom:double;"><a asp-action="Button6Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[5].ButtonValue</p></div></a></td>
    </tr>
    <tr>
        <td style="background:white; width:100px; height:100px; text-align:center; border-right:double;"><a asp-action="Button7Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[6].ButtonValue</p></div></a></td>
        <td style="background:white; width:100px; height:100px; text-align:center; border-right:double;"><a asp-action="Button8Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[7].ButtonValue</p></div></a></td>
        <td style="background:white; width:100px; height:100px; text-align:center;"><a asp-action="Button9Pressed" style="text-decoration-line:none;"><div style="width:100px; height:100px; color:black;"><p style="font-size: x-large;">@Model.Buttons[8].ButtonValue</p></div></a></td>
    </tr>
</table>
